.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px !important;
  background-color: #F6EFE7;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0), 
             0em 0.1em 1em rgba(0,0,0,0.1);
             
}

.iconContainer{
  width: 40px;
  height: 40px;
  color:#696969;
}

