.card{
    position: relative;
    width: 666px;
    padding: 50px;
    max-width: 85vw;
    height: 60vh;
    border-radius: 20px;
    background-size: cover0;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    rotate:70deg;
    
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.dogCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    rotate:80deg;
}

.swipe{
    position: absolute;

}