html, body, #root {
  height: 100%
}
._loading_overlay_wrapper {
  height: 100%
}
.App {
  text-align: center;
  height: 100%
}

.Form {
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
}

.Button {
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.Divider {
  margin-top: 10px;
  background-color: #d0d0d0;
}

.Title {
  margin-top: 25px;
  font-family:Poetsen One;
  font-size: 50px;
  color: #888888;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Box_gender {
  border-radius: 30px;
  border: 3.5px solid #727272;
  outline: none;
}

#Box_age {
  border-radius: 30px;
  border: 3.5px solid #727272;
  outline: none;

}

#Box_breeds {
  border-radius: 30px;
  border: 3.5px solid #727272;
  outline: none;
}

#Box_location {
  border-radius: 30px;
  border: 3.5px solid #727272;
  outline: none;
}

#Box_about {
  border-radius: 30px;
  border: 3.5px solid #727272;
  outline: none;
}

#Box_save {
  margin-left: 350px;
  margin-top: 30px;
}

#Box_logout {
  margin-top: 30px;
  margin-left: 175px;
}

#Box_name {
  margin-top: 10px;
  border-radius: 30px;
  outline: none;
  
}